/auto-save-list/
/emacs-config.el
*~
/ido.last
/personal.*
/recentf
/straight/
/transient/
/bookmarks
/emacs-config.pdf
/emacs-config.tex
/elfeed.org
/tramp
/url/
/.org-id-locations
/custom.el
/org-roam.db
/eln-cache/
/recentf.eld
